image: index.docker.io/ericwf/libcxx-gitlab-runner:latest
variables:
  LLVM_PROJECT: $CI_BUILDS_DIR/$CI_PROJECT_PATH/
  BUILD_DIR: $ROOT/build
  LLVM: $ROOT/llvm
  GIT_STRATEGY: none
  GIT_DEPTH: 1

stages:
  - stage
  - build
  - test

.staged-llvm:
  artifacts:
    when: always
    paths:
      - $ROOT/llvm-project/
      - $ROOT/build/


stage:
  extends: .staged-llvm
  stage: stage
  variables:
    GIT_STRATEGY: clone
  script:
    - llvm/utils/gitlab/display_environment.sh
    - mkdir -p build/
    - touch build/BUILD_HERE


build:llvm:
  extends: .staged-llvm
  stage: build
  variables:
    CC: "clang"
    CXX: "clang++"
    LLVM_LIT_ARGS: "-sv --show-xfail --show-unsupported --xunit-xml-output=$ROOT/build/test-results.xml"
    BUILD_TYPE: "RELWITHDEBINFO"
  script:
    - env
    - cd $ROOT/build/
    - cmake -G Ninja "-DCMAKE_BUILD_TYPE=$BUILD_TYPE"
       "-DCMAKE_C_COMPILER=$CC"
       "-DCMAKE_CXX_COMPILER=$CXX"
       "-DLLVM_ENABLE_PROJECTS=all"
       "-DLLVM_LIT_ARGS=$LLVM_LIT_ARGS"
       $LLVM_PROJECT/llvm
    - ninja

test:
  extends: .staged-llvm
  stage: test
  script:
      - ls
      - pwd
      - cd $ROOT/build
      - ninja check-all
  artifacts:
    when: always
    reports:
      junit: build/test-results.xml
